
body{
    background-color: white;
}
#top{
    display:flex;
    background-color:black;
    color:white;
    border:1px solid;
}
h2{
    margin:0;
    padding:0;
}
button{
    background-color: green;
}
#container{
    display: flex;
    background-color:white;
    width:100%;
    float:left;
}
#sidebar{
    background-color:#c9c7c6;
    width:10%;
    float: left;
}
#container2{
    background-color:white;
    height:100%;
    width:90%;
    float:right;
}
#dash{
    background-color:white;
    clear:both;
}

#post{
    position: relative;
    float:right;
}

